html * {
    box-sizing: content-box;
    font-family: Helvetica, sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    min-height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.display {
    color: white;
    text-align: right;
    align-content: center;
    padding: 0px 24px;
}

.main {
    font-size: 72px;
}

.secondary {
    height: 30px;
    font-size: 24px;
}

.button-row {
    display: flex;
    height: 100px;
}

.button {
    flex: 1;
    font-size: 32pt;
    border-radius: 50px;
    border-color: white;
    border-width: 0px;
    border-style: solid;
    margin: 8px;
    color: white;
    padding: 0px;
    transition: all .15s ease;
    opacity: 1.0;
}

.button.utility {
    color: black;
    background-color: rgb(168, 168, 168);
    font-size: 24pt;
}

.button.number {
    background-color: rgb(58, 58, 58);
}

.button.operator, 
.equals {
    background-color: rgb(255, 187, 0);
    font-size: 36pt;
    padding-bottom: 6px;
}

.button.wide {
    flex: 2 0 auto;
}

.button.active {
    background-color: rgb(255, 215, 104);
}

.button.pressed {
    opacity: 0.5;
}
