html * {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    min-height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.display {

    height: 100px;
    color: white;
    font-size: 72px;
    text-align: right;
    align-content: center;
    padding: 8px 24px;
}

.button-row {
    display: flex;
    height: 100px;
}

.button {
    flex: 1;
    font-size: 32pt;
    border-radius: 50px;
    border-width: 0px;
    margin: 8px;
    color: white;
    padding: 0px;
}

.button.utility {
    color: black;
    background-color: rgb(168, 168, 168);
    font-size: 24pt;
}

.button.number {
    background-color: rgb(58, 58, 58);
}

.button.operator {
    background-color: rgb(255, 187, 0);
    font-size: 36pt;
    padding-bottom: 6px;
}

.button.wide {
    flex: 2 0 auto;
}
